.Category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 90px;
}
.Category .texts h1{
    max-width:800px;
    text-align: center;
    color: #1E1D4C;
    font-size: 50px;
    font-weight: 700;
}
.Category .texts p{
    max-width:800px;
    text-align: center;
    color: #DF6951;
    font-size: 18px;
    font-weight: 600;
}
.Category .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 90px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:992px) {
    .Category .cards{
        gap: 60px;
        justify-content: center;
        align-items: center;
    }
}